<!DOCTYPE html >
<html lang="DE-de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wochenkarte</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="landingpage :: navbar"></div>
<!-- TODO: Hier könnte man überlegen HTMX einzusetzen, um nur die <main> neu zu rendern / zu ersetzen -->
<main class="responsive small">
<h1>Menü</h1>
<article class="boarder fill" th:each="article : ${articles}">
    <h5 th:text="${article.type}"></h5>
    <p th:text="${article.description}"></p>
</article>
</main>
</body>
</html>

