<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UmbauPause</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet" th:fragment="import">
    <script src="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.1/dist/cdn/material-dynamic-colors.min.js"
            type="module"></script>
</head>
<body>
<nav class="left" th:fragment="navbar">
    <a href="/">
        <button class="circle transparent">
            <img class="circle responsive" src="/static/pause_logo.png">
        </button>
    </a>
    <a href="/weekly">
        <i>menu_book</i>
        <div>Karte</div>
    </a>
    <a href="/newMenu">
        <i>edit_square</i>
        <div>Edit</div>
    </a>
    <a data-ui="#login">
        <i>login</i>
        <div>Login</div>
    </a>
</nav>

<dialog id="login" th:fragment="login-dialog">
    <h5>Login</h5>
    <div class="small-space"></div>
    <form>
        <div class="field textarea label border small min">
            <textarea name="email"></textarea>
            <label>Email</label>
        </div>
        <div class="field textarea label border small min">
            <input name="password" type="password">
            <label>Passwort</label>
        </div>
        <nav class="right-align no-space">
            <button class="transparent link">Cancel</button>
            <button type="submit">Login</button>
        </nav>
    </form>
</dialog>


<main class="responsive">
    <article class="padding">
        <h3 class="center-align">UmbauPause</h3>
    </article>
    <div class="large space"></div>
    <h1 class="center-align middle-align">Hier entsteht in Zukunft eine Website von</h1>
    <div class="large-space"></div>
    <div class="center-align">
        <img src="/static/kantine.png" width="500px">
    </div>
</main>
</body>
</html>
