<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UmbauPause</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet" th:fragment="import">
</head>
<body>
<nav class="left" th:fragment="navbar">
    <a href="/">
        <i>home</i>
        <div>Home</div>
    </a>
    <a href="/article/all">
        <i>list_alt</i>
        <div>Menu</div>
    </a>
    <a>
        <i>login</i>
        <div>Login</div>
    </a>
</nav>
<main class="responsive">
    <h3>UmbauPause</h3>
</main>
</body>
</html>